head
   title= pageTitle
   link(rel='stylesheet'
       href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
   link(rel='stylesheet'
       href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css')
   link(rel='stylesheet'
       href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
   link(rel='stylesheet', href='assets/css/bootstrap-social.css')
   link(rel='stylesheet', href='assets/css/footer-distributed.css')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
   meta(charset='utf-8')/
   meta(charset='utf-8')/
   meta(http-equiv='X-UA-Compatible', content='IE=edge')/
   nav(class='navbar navbar-default')
      div(class='container-fluid')
          div(class='navbar-header')
             a(class="navbar-brand"
               href='/') Sublime Handmades
          div(class='collapse navbar-collapse navbar-right')
             ul(class='nav navbar-nav')
                 li(class='dropdown')
                    a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button') For Sale 
                      span(class='caret')
                    ul(class='dropdown-menu')
                       li
                          a(href='#') Scarves
                       li
                          a(href='#') Hats
                       li
                          a(href='#') Shawls
                 li
                    a(href='#') Gallery
                 li
                    a(href='/contact') Contact Me
                 li(class='dropdown')
                    a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button') Cart 
                       span(class='badge') 0
                    ul(class='dropdown-menu')
                       li
                          a(href='#') Item 1
                       li
                          a(href='#') Item 2
                       li
                          a(href='#') Item 3
                       li(role='separator' class='divider')
                       li
                          a(href='#') Checkout
